@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-select {
  user-select: none;
}

.text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.indicator-dot {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
